{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<h1>Hi, {{ current_user.username }}!</h1>

{% if form %}
    {{ render_form(form) }}
{% endif %}

{% for post in posts %} 
    {% include '_post.html' %} 
{% endfor %}

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}